<!DOCTYPE html>
<html lang="en">

<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="width=device-width, user-scalable=no" name="viewport" />
    <link rel="preload" href="/_next/static/media/c963e77e47e7e9f4-s.p.woff2" as="font" crossorigin=""
        type="font/woff2" />
    <link rel="stylesheet" href="/_next/static/css/8e5efb1ae7543c2c.css" data-precedence="next" />
    <link rel="stylesheet" href="./_next/static/css/16c76aee18cf44a4.css" data-precedence="next" />
    <link rel="stylesheet" href="./_next/static/css/1189ede4f2d71ff7.css" data-precedence="next" />
    <link rel="stylesheet" href="./_next/static/css/a6d3d7974f0920e8.css" data-precedence="next" />
    <link rel="preload" as="script" fetchPriority="low" href="./_next/static/chunks/webpack-a683ff685cf94408.js" />

    <meta name="next-size-adjust" />
    <title>AuthKit by WorkOS</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta content="The world&#x27;s best login box, powered by WorkOS + Radix." name="description" />
    <meta name="theme-color" content="var(--dark-background)" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="var(--dark-background)" media="(prefers-color-scheme: dark)" />
    <meta property="og:title" content="AuthKit by WorkOS" />
    <meta property="og:description"
        content="A fully-featured UI component system for building authentication flows into your app." />
    <meta property="og:image" content="https://www.authkit.com/img/meta.png" />
</head>

<body class="__variable_8319ca">
    <main class="page_page__ZU32B">
        <div class="customui">
            <!-- <div class="customui__overlay"></div> -->
            <div class="outline-box_box__k2nYA outline-box_box-dots__Purwq customui__header">
                <div class="customui__header-content">
                    <div class="between-lines_wrapper__QeHD9 between-lines_wrapper-gradient__abLQd">
                        <div class="badge_badge__1BLy8"><span
                                class="text_text__diRzx text_text-gradient__A_dhc">CONNECT</span></div>
                    </div>
                    <h2
                        class="text_text__diRzx text_text-gradient__A_dhc text_text-bold__DMjUe text_text-align-center__cYXHS text_text-size-h2__FTjRA">
                        Blockchain Powered Realtime WorldChat.</h2>
                    <p style="margin-block:5px"
                        class="text_text__diRzx text_text-muted__2odSz text_text-align-center__cYXHS text_text-size-h5__a3s9K">
                        AuthKit can be fully customized to fit natively with your app&#x27;s unique design.</p>
                </div>
            </div>
            <div style="transform:none">
                <div class="browser customui__browser">
                    <div class="browser__header"></div>
                    <div class="browser__content">
                        <canvas
                            style="position:absolute;inset:0;width:100%;height:100%;opacity:0.5"></canvas>
                        <div class="outline-box_box__k2nYA outline-box_box-dots__Purwq customui__card-container">
                            <div style="transform:none">
                                <div class="card_card__VgpBR card_card-dark__ZxbMX card_card-size-large___Y9MM card_card-animated__5dDBc card_card-animated-loop__6iL1V"
                                    style="--brand-color:#663AF3;--brand-radius:3px">
                                    <div class="card_effect__3CjsY"></div>
                                    <div class="card_content__qyjch">
                                        <div style="display:flex;flex-direction:column;gap:16px">
                                            <div style="display:flex;flex-direction:column;align-items:center;gap:10px">

                                                <p style="color:#C7D3EA"
                                                    class="text_text__diRzx text_text-muted__2odSz text_text-bold__DMjUe text_text-align-center__cYXHS text_text-size-h5__a3s9K">
                                                    Sign In</p>
                                            </div><label
                                                class="text_text__diRzx text_text-normal__Srl6t text_text-bold__DMjUe text_text-size-p__25oFp">Username
                                                <div style="margin-top:5px" class="input_wrapper__s8Qw7"><input
                                                        data-1p-ignore="true"
                                                        class="input_input__8iWUF input_input-solid__kJlIe"
                                                        autoComplete="off" type="text" placeholder="Enter your Username"
                                                        name="email" /></div>
                                            </label>
                                            <label
                                                class="text_text__diRzx text_text-normal__Srl6t text_text-bold__DMjUe text_text-size-p__25oFp">Password
                                                <div style="margin-top:5px" class="input_wrapper__s8Qw7"><input
                                                        data-1p-ignore="true"
                                                        class="input_input__8iWUF input_input-solid__kJlIe"
                                                        autoComplete="off" type="password"
                                                        placeholder="Enter your password" name="password" /></div>
                                            </label><button
                                                class="button_button__XtUFt button_button-solid__yeDce">Continue</button>



                                            <p
                                                class="text_text__diRzx text_text-muted__2odSz text_text-align-center__cYXHS text_text-size-p__25oFp">
                                                Don&#x27;t have an account?
                                                <!-- --><a class="link" href="#" style="pointer-events:none">Sign up</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="transform:none" class="customui__card-outline"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>